.weapon {
  width: 3em;
  height: 3em;
  padding: 0.25em;
  box-sizing: border-box;
  border-radius: 2em;
  position: relative;
  background-color: #ccc;

  > .portrait {
    position: relative;
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    background-size: 100%;
  }

  > app-level-badge {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
