.weapons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;

  input[type=radio] {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
  }

  label {
    font-size: 100%;
    opacity: 1;
  }
}
