label {
  opacity: 1;
  font-size: 1rem;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

input[type=radio]
{
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.cost
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25em;
  font-size: 80%;
}
