.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  padding-bottom: 1em;
  justify-content: center;

  > label {
    opacity: 1;

    > input[type=radio]
    {
      position: absolute;
      left: -9999px;
      width: 1px;
      height: 1px;
    }
  }
}

.buttons
{
  flex-direction: column;
  align-items: center;

  > button {
    > img {
      width: 1em;
      height: 1em;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
