<main>
  <h1>Account</h1>
  <div class="options">
    <!--
    <a routerLink="/settings/subscriptions">
      <img src="/assets/ui/black-crown.svg" alt="crown" />
      <span>Manage Subscriptions</span>
    </a>
    -->
    <a routerLink="/settings/email">
      <img src="/assets/ui/flying-envelope.svg" alt="flying envelope" />
      <span>Change Email Address</span>
    </a>
    <a routerLink="/settings/passphrase">
      <img src="/assets/ui/secret-text.svg" alt="secret text" />
      <span>Change Passphrase</span>
    </a>
    <a routerLink="/settings/advanced">
      <img src="/assets/ui/black-magnifying-glass.svg" alt="magnifying glass" />
      <span>Advanced Info</span>
    </a>
  </div>
</main>
