main {
  background-color: #333;
  background-image: url(/assets/space.svg);
  background-size: unset;
  background-repeat: repeat;
  max-width: unset;

  display: flex;

  justify-content: center;
  align-items: center;

  color: #eee;
}
