main {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  position: relative;
  z-index: 0;
}

img.map {
  width: max(min(960px, 100vw), 100vh);
  display: block;
  position: absolute;
  z-index: -100; // below all objects
  left: 0;
  top: 0;
}

.building {
  position: absolute;
  width: calc(max(min(960px, 100vw), 100vh) * 0.11);
  height: calc(max(min(960px, 100vw), 100vh) * 0.11);
  background: transparent;
  padding: 0;
  pointer-events: none;

  > img {
    position: absolute;
    display: block;
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
  }

  > .label {
    text-align: center;

    > div {
      position: absolute;
      background-color: #900;
      color: #eee;
      border-radius: 1.2em;
      padding: 0.25em 0.75em;
      white-space: pre;
      left: 50%;
      transform: translateX(-50%);
    }

    > .type {
      bottom: -1.2em;
      min-width: 3.5em;
    }

    > .level {
      bottom: 0;
      font-size: 66.67%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.decoration {
  padding: 0;
  border-radius: 0;
  position: absolute;
  width: calc(max(min(960px, 100vw), 100vh) * 0.07);
  height: calc(max(min(960px, 100vw), 100vh) * 0.07);

  > img {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    pointer-events: none;
  }
}
