.info {
  max-width: 400px;
  margin: 0 auto;
}

label {
  font-size: 1em;
  opacity: 1;
  font-weight: bold;
  margin-bottom: 0.25em;
}

small {
  display: block;
  font-style: italic;
  margin-top: 0.25em;
}
