input[type=checkbox] {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.none {
  text-align: center;
  font-style: italic;
  padding: 2em 0;
}

.vassals {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
}

.vassals > button {
  color: var(--color-text);
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;

  > .properties {
    grid-area: properties;
    display: flex;
    flex-direction: column;
    gap: 0.125em;
    position: relative;

    > .name {
      font-weight: bold;

      > .favorite {
        display: block;
        position: absolute;
        width: 0.8em;
        left: -1em;
        top: 0.1em;
      }
    }

    > .weapon {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 80%;

      > img {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}

.extra-info {
  flex-grow: 1;
  text-align: right;
  font-size: 130%;
  font-family: "Caesar Dressing";
}

app-tag + * {
  margin-left: 0.25em;
}
